// Resource script for LuaJIT console EXEs.

#include "luajit_ver_rc.h"

#ifndef RT_MANIFEST
// bpo-45220: Cannot reliably #include RT_MANIFEST from
// anywhere, so we hardcode it
#define RT_MANIFEST 24
#endif

// Include the manifest file that indicates we support all
// current versions of Windows.
1 ICON DISCARDABLE "luajit.ico" 


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION LUAJIT_PRODUCT_VERSION
 PRODUCTVERSION LUAJIT_PRODUCT_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            // VALUE "CompanyName", LUAJIT_COMPANY ""
            VALUE "FileDescription", "LuaJIT"
            VALUE "FileVersion", LUAJIT_VERSION
            VALUE "InternalName", "LuaJIT Console"
            // VALUE "LegalCopyright", LUAJIT_COPYRIGHT ""
            VALUE "OriginalFilename", "luajit-" LUAJIT_VERSION ".exe"
            VALUE "ProductName", "LuaJIT"
            VALUE "ProductVersion", LUAJIT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END
